<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">

        <!-- Partial/Header -->
        <%- include('header') %>


            <div class="title">
                <h1>Millie as a <%= title %>
                </h1>

            </div>

            <!-- Picture of Millie -->
            <div class="pumpkin">

                <img src="./images/milliead.jpg" alt="ad Millie">

                <img src="./images/adultmillie.jpg" alt=" adult Millie">
            </div>

            <!-- Paragraph Section -->
            <div class="paragraph">
                <p>Millie as an Adult opposed to a Puppy.</p>
            </div>

    </div>
</body>

</html>