<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">

        <!-- Partial/Header -->
        <%- include('header') %>


            <div class="title">
                <h1>Millie as a <%= title %> Doggy</h1>

            </div>

            <!-- Picture of Millie -->
            <div class="pumpkin">

                <img src="./images/MillieAndMav.jpg" alt="Millie and Mav">

                <img src="./images/MillieCouch.jpg" alt="Puppy Couch">
            </div>

            <!-- Paragraph Section -->
            <div class="paragraph">
                <p>These are picutres of her being bad. The first one she began being mean to her friend Mavo and the
                    second one she decided to sleep on the couch, which she isn't allowed to.</p>
            </div>

    </div>
</body>

</html>