<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">

        <!-- Partial/Header -->
        <%- include('header') %>


            <div class="title">
                <h1>Millie as a <%= title %> Doggy
                </h1>

            </div>

            <!-- Picture of Millie -->
            <div class="pumpkin">

                <img src="./images/milliegood.jpg" alt="Good Millie">

                <img src="./images/millie.jpg" alt="Millie">
            </div>

            <!-- Paragraph Section -->
            <div class="paragraph">
                <p>When Millie was being good and posing for pictures.</p>
            </div>

    </div>
</body>

</html>