
<header>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #04AA6D;
        }
        </style>
        </head>
        <body>
        
        <ul>
            <!-- Add each page to href -->
          <li><a href="puppy">Puppy</a></li>
          <li><a href="bad">Bad</a></li>
          <li><a href="Adult">Adult</a></li>
          <li><a href="good">Good</a></li>
          <li style="float:right"><a class="active" href="index">Home Page</a></li>
        </ul>
        
</header>

<!-- Nav Bar from: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_right -->